* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #172b4d;
  background: #e5e5e5;
  font-style: normal;
}

h1 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.tag {
  align-items: center;
  padding: 4px 12px;
  width: 70px;
  height: 40px;
  background: #ebebff;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.btn-enable {
  width: 126px;
  height: 48px;
  background: none;
  border: 1px solid #6070ff;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  border-radius: 8px;
}

.btn-hover:hover {
  background: #6070ff;
  color: #fff;
}

.mt-15 {
  margin-top: 15px;
}

.p-10 {
  padding: 10px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  height: 64px;
  background-color: #fff;
}

.navbar .logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.navbar a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
}

.socials a {
  color: #505f79;
  font-size: 25px;
  margin-right: 15px;
}

.box a {
  color: #505f79;
  font-weight: 600;
  font-size: 13px;
  margin-right: 15px;
  text-decoration: none;
}

.navbar a:hover {
  color: #6070ff;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.skill i {
  color: #acb7c3;
  font-weight: lighter;
  padding: 0;
}

.box a i {
  color: #505f79;
  font-size: 10px;
  margin-left: 15px;
}

.navbar .container i {
  display: none;
}

.header {
  background-image: url("../images/web/Header1.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 160px;
  background-color: #fff;
  min-height: 846px;
}

.header h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
}

.header .container {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.header p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #344563;
  margin-bottom: 15px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  margin-top: 20px;
  text-decoration: none;
}

.social ul {
  margin-top: 15px;
  display: flex;
}

.boxes .container {
  display: grid;
  padding: auto;
  margin: 30px auto;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-rows: 390px;
}

.box {
  display: flex;
  margin-top: 60px;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.box img {
  width: 100%;
}

.box h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 15px 0 15px;
}

.box ul {
  margin-top: 15px;
  display: flex;
}

.boxes .box .client {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 15px 0 15px;
}

.box .tags a {
  align-items: center;
  padding: 4px 12px;
  width: 70px;
  height: 40px;
  background: #ebebff;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.about .container {
  display: grid;
  padding: auto;
  margin: 30px auto;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
}

.about {
  display: flex;
  margin: 20px 0 20px;
  padding: 60px 0 30px;
  background: #fff;
  border-top-right-radius: 100px;
}

.about .about_me h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 0 0 10px;
}

.about .about_me p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 0 0 12px;
}

.about .social .btn {
  padding: 10px;
  width: 160px;
}

.skills {
  margin-top: 6px;
  padding-top: 24px;
  background-color: #fff;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0 23px 0;
  border-bottom: 1.5px #eee solid;
}

.skill_title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.skill_detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  border-bottom: 1px #eee solid;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 10px;
}

.skill_detail h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin-left: 20px;
}

@media (max-width: 760px) {
  .navbar .container ul {
    display: none;
  }

  .navbar .container i {
    display: block;
    color: #7f8cff;
    font-size: 20px;
  }

  .header a {
    margin-top: 300px;
  }

  .header {
    background-image: url("../images/mobile/header-shapes-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 0;
    min-height: 710px;
  }

  .header .head-text {
    margin-top: calc(50% - 268px / 2);
  }

  .header .container {
    flex-direction: column;
    padding-top: 100px;
    text-align: left;
  }

  .boxes .container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .box {
    display: block;
  }
}
